<div class="text-center">
  <nav class="navbar navbar-light navbar-inverse bg-primary navbar-toggleable-md fixed-top">
    <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
      <div class="nav navbar-nav mr-auto">
        <a class="navbar-brand" routerLink="/" routerLinkActive="selected-menu" [routerLinkActiveOptions]="{exact :true}">
          <i class="fas fa-sm fa-home fa-border icon-margin-right"></i>Accueil</a>
        <a class="navbar-brand nav-link" routerLink="/dahira" routerLinkActive="selected-menu">
          <i class="fab fa-sm fa-dochub fa-border icon-margin-right"></i>Dahira</a>
        <a class="navbar-brand nav-link" routerLink="/multimedia" routerLinkActive="selected-menu">
          <i class="fas fa-sm fa-microphone fa-border  icon-margin-right"></i>Multimedia</a>
        <a class="navbar-brand nav-link" routerLink="/commission" routerLinkActive="selected-menu">
          <i class="fas fa-sm fa-tasks  fa-border icon-margin-right"></i>Commission</a>
        <a class="navbar-brand nav-link" routerLink="/boutique" routerLinkActive="selected-menu">
          <i class="fas  fa-sm fa-shopping-cart fa-border icon-margin-right"></i>Boutique</a>
        <a class="navbar-brand nav-link" routerLink="/contact" routerLinkActive="selected-menu">
          <i class="fas  fa-sm fa-phone fa-border icon-margin-right"></i>Contact</a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>