<div class="row">
  <div class="row cadre">
    <div class="left-div col-sm-8 col-xs-8 col-lg-8 cadre">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque ipsum repudiandae ea quisquam earum commodi odio, reprehenderit dolorem libero laudantium voluptatibus deleniti quidem iste omnis similique, veniam qui ipsam!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat minima voluptatibus at itaque quis cumque, doloribus culpa saepe a quisquam tenetur cupiditate animi dolores? Error minus provident enim ad voluptas?
    </div>
    <div class="right-div cadre">Des informations sur le Dahira</div>
  </div>
  <div class=" col-sm-10 col-xs-1 col-sm-4 col-xs-4 col-lg-12 cadre">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatem, impedit nobis soluta, consequatur hic recusandae reiciendis vero architecto obcaecati illo eveniet beatae. Neque eum esse, quos veritatis cupiditate saepe.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda dolore totam necessitatibus veniam, itaque quis tempore placeat eligendi fuga quam reprehenderit rerum, modi error vel, sequi excepturi saepe? In.
  </div>
  <div class="col-sm-10 col-xs-1 col-lg-12 cadre">
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, enim numquam. Ad architecto eius animi, fuga quae ea veniam voluptate nesciunt dolor, molestias unde culpa, ab debitis labore aut at.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt earum ex unde maiores harum, debitis culpa, delectus nemo dignissimos provident error impedit facere asperiores. Rerum inventore in nemo eum.
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores delectus dolorem omnis reiciendis nisi dolore dolorum culpa velit, minima excepturi suscipit deserunt. Minima earum fugit est ullam. In, provident quasi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officiis aliquam quae dolor facere est, dolorem iusto fugit? Quo cupiditate voluptatem facilis ab hic molestias tempore repudiandae quasi vero adipisci!
  </div>
  <div class=" col-sm-10 col-xs-1 col-lg-12 cadre">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quisquam repellendus nulla, explicabo perferendis minima optio excepturi doloribus soluta ad quo repudiandae eum quibusdam dolor, neque officia harum voluptatibus quod.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus error eum aperiam, quia ea dolor repellendus exercitationem id commodi corporis cupiditate doloremque sint neque sapiente suscipit ex nesciunt saepe! Culpa?
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis atque, minus quasi, quaerat eius dolor adipisci, nemo voluptate sequi placeat laudantium! Consectetur enim tempora soluta distinctio quo dolore veritatis. Ipsam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus delectus tenetur, possimus blanditiis aperiam. Laborum reprehenderit praesentium dolorum sunt illum maxime cupiditate perspiciatis repudiandae quo deserunt, ab, sequi id?
  </div>
</div>